<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Register</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/tooplate.css">
</head>

<body id="login7">
    <div class="container">
        <div class="row tm-register-row tm-mb-35">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 tm-login-l">
                <form action="/C_register" method="post" class="tm-bg-black p-5 h-100">
                    <div class="input-field">
                        <input placeholder="Address" id="_company" name="_company" type="text" class="validate">
                    </div>
                    <div class="input-field mb-5">
                        <input placeholder="Assets" id="amount" name="amount" type="text" class="validate">
                    </div>
                    <div class="tm-flex-lr">
                        <button type="submit" class="waves-effect btn-large btn-large-white px-4 black-text rounded-0">Register</button>
                    </div>
                </form>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 tm-login-r">
                <header class="font-weight-light tm-bg-black p-5 h-100">
                    <h3 class="mt-0 text-white font-weight-light">Company Register</h3>
                    <p>Register a Company Account. You need input Address and Amount.</p>
                    <p class="mb-0">Address is for your identifier. Assets are the amount of property owned by the company</p>
                </header>
            </div>
        </div>
    </div>

    <script src="js/jquery-3.2.1.slim.min.js"></script>
    <script src="js/materialize.min.js"></script>
</body>

</html>
