<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transfer of accounts</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/tooplate.css">
</head>

<body id="login3">
    <div class="container">
        <div class="row tm-register-row tm-mb-35">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 tm-login-l">
                <form action="/ChangeReceipt" method="post" class="tm-bg-black p-5 h-100">
                    <div class="input-field">
                        <input placeholder="Address-company" id="_company" name="_company" type="text" class="validate">
                    </div>
                    <div class="input-field">
                        <input placeholder="Address-creditor" id="_creditor" name="_creditor" type="text" class="validate">
                    </div>
                    <div class="input-field mb-5">
                        <input placeholder="Address-to" id="_to" name="_to" type="text" class="validate">
                    </div>
                    <div class="tm-flex-lr">
                        <button type="submit" class="waves-effect btn-large btn-large-white px-4 black-text rounded-0">Transfer</button>
                    </div>
                </form>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 tm-login-r">
                <header class="font-weight-light tm-bg-black p-5 h-100">
                    <h3 class="mt-0 text-white font-weight-light">Transfer of accounts</h3>
                    <p>Realize the transfer of accounts on the chain, through the transfer of accounts to achieve credit flow, to avoid financing difficulties</p>
                    <p class="mb-0">You can Transfer accounts here. </p>
                </header>
            </div>
        </div>
    </div>

    <script src="js/jquery-3.2.1.slim.min.js"></script>
    <script src="js/materialize.min.js"></script>
</body>

</html>
