<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Details</title>
    <link type="text/css" rel="stylesheet" href="css/all.css">
    <link type="text/css" rel="stylesheet" href="css/aos.css">
    <link type="text/css" rel="stylesheet" href="css/ekko-lightbox.css">
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <header id="top2">
      <div class="container pt-4">
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent px-0"><a class="text-white navbar-brand" href="#">Trust Chain</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#da-navbarNav" aria-controls="da-navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse text-uppercase" id="da-navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a class="nav-link smooth-scroll" href="index.html">Home</a></li>
              <li class="nav-item"><a class="nav-link smooth-scroll" href="/#services">Services</a></li>
              <li class="nav-item"><a class="nav-link smooth-scroll" href="C_register.html">Company Register</a></li>
              <li class="nav-item"><a class="nav-link smooth-scroll" href="B_register.html">Bank Register</a></li>
              <li class="nav-item"><a class="nav-link smooth-scroll" href="details.html">Details</a></li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="da-home-page-text">
        <div class="container">
          <div class="col-md-10 col-sm-12 px-0 mx-0">
            <h2 class="display-3" style="margin-left:-6px;">Details</h2>
            <h3 class="h5 mt-3">You can find the details you want in this interface. Click the button below to start getting it</h3><a class="smooth-scroll btn btn-outline-light mt-4" href="#services">Search Now!!!!!!!</a>
          </div>
        </div>
      </div>
    </header>
<div class="da-section bg-light page-content" id="services">
  <div class="da-services">
    <div class="container text-center">
      <div class="h3 pb-5 text-center">Look For Details</div>
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="card mb-3">
            <div class="card-body py-5">
              <div class="text-primary"><i class="pb-3 fas fa-code fa-3x"></i>
                <p class="font-weight-bold"><a href="Get_amount.html">Assets Details</a></p>
              </div>
              <p>Click here for company asset information. Asset information is used to describe the company's value and ability to repay. </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="card mb-3">
            <div class="card-body py-5">
              <div class="text-primary"><i class="pb-3 fab fa-buromobelexperte fa-3x"></i>
                <p class="font-weight-bold"><a href="Get_debt.html">Debt Details</a></p>
              </div>
              <p>Company debt information is related to the company's credit, timely repayment of debt can accumulate credit. </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="card mb-3">
            <div class="card-body py-5">
              <div class="text-primary"><i class="pb-3 fas fa-cubes fa-3x"></i>
                <p class="font-weight-bold"><a href="Get_credit.html">Credit Details</a></p>
              </div>
              <p>Click here for company credit information. Credit information is used to prove repayment credit at the time of loan. </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="card mb-3">
            <div class="card-body py-5">
              <div class="text-primary"><i class="pb-3 fas fa-eye fa-3x"></i>
                <p class="font-weight-bold"><a href="https://fintech.webank.com/webase/">Webase Details</a></p>
              </div>
              <p>WeBASE is a bridge connecting the underlying and applications of the blockchaina, collection of components like contracts.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="da-section da-brand bg-secondary">
  <div class="container text-center text-white">
    <div class="carousel slide pb-5" id="da-brand-carouselIndicator" data-ride="carousel">
      <ol class="carousel-indicators">
        <li class="active" data-target="#da-brand-carouselIndicator" data-slide-to="0"></li>
        <li data-target="#da-brand-carouselIndicator" data-slide-to="1"></li>
        <li data-target="#da-brand-carouselIndicator" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <p>"FISCO BCOS is a blockchain underlying platform, with financial business practice as a reference sample, based on the BCOS open source platform for module upgrade and functional remodeling. Features: Deeply customized, secure and controllable, suitable for the financial industry and fully open source."</p>
              <div class="h6 text-uppercase"><strong>Fisco Bcos</strong></div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <p>"WeBASE is a collection of components such as development contracts, transactions, visual management, and data analytics. WeBASE blocks the complexity of the underlying blockchain, lowers the developer threshold, and helps enterprises quickly build blockchain applications."</p>
              <div class="h6 text-uppercase"><strong>WeBASE</strong></div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <p>"WeBank FinTech aims to promote an open banking ecosystem, using leading fintech to provide Internet banking/virtual banking products to domestic and international partners, including Internet deposit systems, credit card systems, distributed retail and other contextual financial products."</p>
              <div class="h6 text-uppercase"><strong>WeBank FinTech</strong></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    <script type=”text/javascript” src="js/jquery-3.3.1.min.js"></script>
    <script type=”text/javascript” src="js/popper.min.js"></script>
    <script type=”text/javascript” src="js/bootstrap.min.js"></script>
    <script type=”text/javascript” src="js/aos.js"></script>
    <script type=”text/javascript” src="js/ekko-lightbox.min.js"></script>
    <script type=”text/javascript” src="js/main.js"></script>
  </body>
</html>
