<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Debt Details</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/tooplate.css">
</head>

<body id="login1">
    <div class="container">
        <div class="row tm-register-row tm-mb-35">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 tm-login-l">
                <form action="/Get_debt" method="post" class="tm-bg-black p-5 h-100">
                    <div class="input-field mb-5">
                        <input placeholder="Address" id="_cpy" name="_cpy" type="text" class="validate">
                    </div>
                    <div class="tm-flex-lr">
                        <button type="submit" class="waves-effect btn-large btn-large-white px-4 black-text rounded-0">Get it!</button>
                    </div>
                </form>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 tm-login-r">
                <header class="font-weight-light tm-bg-black p-5 h-100">
                    <h3 class="mt-0 text-white font-weight-light">Debt Details</h3>
                    <p>Company debt information is related to the company's credit, timely repayment of debt can accumulate credit. </p>
                    <p class="mb-0">You can get debt details here. </p>
                </header>
            </div>
        </div>
    </div>

    <script src="js/jquery-3.2.1.slim.min.js"></script>
    <script src="js/materialize.min.js"></script>
</body>

</html>
