<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Financing</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/tooplate.css">
</head>

<body id="login5">
    <div class="container">
        <div class="row tm-register-row tm-mb-35">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 tm-login-l">
                <form action="/LoanReceipt" method="post" class="tm-bg-black p-5 h-100">
                    <div class="input-field">
                        <input placeholder="Address-company" id="_company" name="_company" type="text" class="validate">
                    </div>
                    <div class="input-field">
                        <input placeholder="Address-bank" id="_bk" name="_bk" type="text" class="validate">
                    </div>
                    <div class="input-field">
                        <input placeholder="Value" id="_value" name="_value" type="text" class="validate">
                    </div>
                    <div class="input-field">
                        <input placeholder="Credit" id="_credit" name="_credit" type="text" class="validate">
                    </div>
                    <div class="input-field mb-5">
                        <input placeholder="Timelimit" id="_timelimit" name="_timelimit" type="text" class="validate">
                    </div>
                    <div class="tm-flex-lr">
                        <button type="submit" class="waves-effect btn-large btn-large-white px-4 black-text rounded-0">Make Receipt</button>
                    </div>
                </form>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 tm-login-r">
                <header class="font-weight-light tm-bg-black p-5 h-100">
                    <h3 class="mt-0 text-white font-weight-light">Loan Financing</h3>
                    <p>All companies in the supply chain can apply to banks for financing using accounts documents, and bills are stored in the blockchain.</p>
                    <p class="mb-0">You can make receipts of Loan Financing here. </p>
                </header>
            </div>
        </div>
    </div>

    <script src="js/jquery-3.2.1.slim.min.js"></script>
    <script src="js/materialize.min.js"></script>
</body>

</html>
