<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Return Messages</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/tooplate.css">
</head>

<body id="login8">
    <div class="container">
        <div class="row tm-register-row tm-mb-35">
            <div>
                <header class="font-weight-light tm-bg-black p-5 h-100">
                    <h3 class="mt-0 text-white font-weight-light">Return Messages</h3>
                    <p>Following is return messages. </p>
                    <p class="mb-0">output[0]: <%= output0 %> </p>
                    <p class="mb-0">output[1]: <%= output1 %> </p>
                    <p class="mb-0">status: <%= status %> </p>
                    <p class="mb-0">transactionHash: <%= transactionHash %> </p>
                    <div class="tm-flex-lr blank">
                        <a class="nav-link smooth-scroll" href="value_details.html"><button type="submit" class="waves-effect btn-large btn-large-white px-4 black-text rounded-0">Value Details</button></a>
                    </div>
                </header>
            </div>
        </div>
    </div>

    <script src="js/jquery-3.2.1.slim.min.js"></script>
    <script src="js/materialize.min.js"></script>
</body>

</html>
